@import "./import/mixin";
@import "./import/variable";

//Main Header
header {
    width: 100%;
    height: 3em;
    background-color: $hdr-c-bg-c;
    position: fixed;

    //Header Container
    .header-container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        @include flex;
        justify-content: space-between;

        //Website Logo
        .logo {
            border: 1px solid;
            height: 100%;
            width: 10em;
            @include flex;
        }

        //Search Container
        .search {
            height: 100%;
            width: 40em;
            @include flex;
            position: relative;
            
            //Search Box
            #search_box {
                width: 100%;
                height: 2em;
                padding: 0.2em 0.5em;
                border-radius: 1em;
                font-size: 1em;
                background: $main-grdt-bg-c;
                color: #fff;
                z-index: 1;

                &::placeholder {
                    color:  #eee;
                    font-weight: 100;
                    font-style: italic;
                    font-size: 0.8em;
                }

                &:focus {
                    //box-shadow: 0 2px 10px #ccc;
                    box-shadow: $main-shadow
                }
            }

            .search-lens {
                width: 1.2em;
                height: 2em;
                position: absolute;
                right: 1em;
                cursor: pointer;
                z-index: 2;

                .lens {
                    position: relative;
                    top: 0.3em;
                    z-index: 1;
                }

                .hand-lens {
                    transform: rotateZ(90deg) translate(-0.4em, -0.7em);
                }

                svg, path {
                    color: #fff;
                    fill: #fff;
                }

                &:hover {
                    .lens {
                        top: 0.4em;
                        transform: scale(1.1);
                    }
                    .hand-lens {
                        transform: rotateZ(45deg) translate(-0.5em, -1em);
                        opacity: 0;
                    }
                }
                &:active {
                    .lens {
                        transition: 200ms;
                        opacity: 0.7;
                    }
                }
            }

            #search_result_container {
                width: 100%;
                height: 0;
                position: absolute;
                top: 2.5em;
                background-color: #fff;
                box-shadow: $main-shadow;
                display: none;
                align-items: center;
                justify-content: center;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
                z-index: 0;
                overflow: hidden;

                .result-container {
                    display: none;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    justify-content: space-evenly;
                    align-items: center;
                    position: absolute;
                    top: -2em;
                }

                .result-history {
                    width: 48%;
                    height: 70%;
                    border-radius: 0.3em;
                    padding: 1em;
                    display: none;

                    .placeholder {
                        color: #bbb;
                    }
                }

                .empty-result {
                    @include flex;
                }

                #search-result {
                    border-right: 2px solid #eee;
                }

                #search-history {
                    border-left: 2px solid #eee;
                }
            }
        }

        //Cart
        .cart {
            height: 100%;
            width: 2em;
            position: relative;
            @include flex;

            //Cart Svg 
            svg {
                width: 2em;
                height: 2em;
            }

            #number_of_purchases {
                border: 1px solid;
                width: auto;
                height: 1em;
                @include flex;
                position: absolute;
                top: 0.2em;
                left: 1em;
                background-image: linear-gradient(45deg, #a8e6ce, #ffd3b5);
                color: #fff;
                border-radius: 1em;
                padding: 0.2em;
            }

            &:hover {
                #number_of_purchases {
                    transform: scale(1.2);
                    transition: 700ms cubic-bezier(0, 0, 0, 1);
                    cursor: pointer;
                }                
            }

        }

        //Log
        .greeting {
            height: 100%;
            @include flex;
            position: relative;
            overflow: hidden;

            .container {
                width: 100%;
            }

            .check-account {
                @include gradientText;
                background-image: $main-grdt-bg-c;
                cursor: pointer;
                font-size: 1.1em;
            }

            .in-up-box {
                width: 100%;
                height: 5em;
                flex-direction: column;
                position: absolute;
                top: 3em;
                overflow: hidden;
                display: none;
            }
            
            .in-up {
                width: 100%;
                height: 4em;
                @include flex;
                flex-direction: column;
                background-color: #fff;
                position: absolute;
                top: 1.2em;
                border-radius: 1em;
                animation-fill-mode: forwards;
                animation-duration: 500ms;
                animation-timing-function: ease-in-out;

                .arrow {
                    position: absolute;
                    top: -0.8em;
                    right: 1em;
                    border-top: none;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid #fff;
                }

                #greeting-login {
                    :first-child {
                        color: $main-first-color;
                    }
                }

                #greeting-signup {
                    :first-child {
                        color: $main-second-color;
                    }
                }

                #greeting-login, #greeting-signup {
                    margin: 0.2em 0;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

            }

            &:hover {
                overflow: visible;
                .in-up-box {
                    @include flex;
                    overflow: visible;
                }
            }

            .form {
                .background {
                    width: 100%;
                    height: 100vh;
                    background: #000;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    opacity: 0.1;
                }

                #login {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 35em;
                    height: 25em;
                    background-color: #fff;
                    z-index: 3;
                    border-radius: 1em;
                    box-shadow: $main-shadow;
                }

                .mutual {
                    @include flex;
                    .close-button {
                        position: absolute;
                        top: 1em;
                        right: 1em;
                        width: 1em;
                        height: 1em;
                        color: #f00;
                        @include flex;
                        border-radius: 50%;
                        cursor: pointer;
                        transform: rotate(45deg);
                        font-size: 1.2em;
                        font-weight: bold;
                        user-select: none;

                        &:hover {
                            box-shadow: rgba(255,0,0, 0.4) 0px 0px 10px;
                        }
                    }
                }
            }
        }

        //Language
        .lang {
            width: 5em;
            height: 100%;
            @include flex;
            flex-direction: column;

            #arabic, #english {
                width: 100%;
                height: 45%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                .language-flag {
                    width: 1.5em;
                    height: 100%;
                    @include flex;

                    #egypt_flag_icon, #english_flag_icon {
                        width: 100%;
                        border-radius: 1em;
                    }

                    #egypt_flag_icon {
                        height: 100%;
                    }

                    #english_flag_icon {
                        height: 70%;
                    }

                }

                span {
                    margin-left: 0.5em;
                    font-size: 0.75em;
                }


                &:hover {
                    text-decoration: underline;
                }
            }

            .selected-language {
                cursor: not-allowed !important;
                user-select: none !important;
                text-decoration: none !important;                

                img {
                    opacity: 0.2;
                }

                span {
                    color: #bbb !important;
                }
            }
        }
    }
}

//Left To Right
.ltr-header {
    z-index: 3;
    direction: ltr;
}

//Right To Left
.rtl-header {
    z-index: 3;
    direction: rtl;
}

