@import "./import/mixin";
@import "./import/variable";
@import "./import/animation";

//Loading
#loading {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    @include flex;

    .logo-container {
        border: 1px solid;
        width: 25em;
        height: 10em;
        @include flex;
        transform: scale(1);
        
        animation: pulse 5s ease-in-out infinite;
    }
}