@import "./import/mixin";
@import "./import/variable";
@import "./import/animation";

#view_product_container {
    display: none;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;

    #view_product_content {
        position: fixed;
        top: calc( (100vh - 40em) / 2 );
        left: calc( (100vw - 60em) / 2 );
        width: 60em;
        height: 40em;
        border-radius: 1em;
        background-color: $main-bg-color;
        z-index: 3;
        box-shadow: $main-shadow;

        .close-view-product {
            position: absolute;
            top: 0.6em;
            right: 0.6em;
            width: 1em;
            height: 1em;
            color: #f00;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            transform: rotate(45deg);
            font-size: 1.5em;
            font-weight: bold;
            user-select: none;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
            z-index: 3;
        }

        .product-title {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;

            .product-Name {
                @include gradientText;
                background-image: $main-grdt-bg-c;
                display: inline-block;
                font-size: 2.5em;
                padding: 0.5em;
            }

            .product-stock {
                font-weight: bold;
                font-size: 0.8em;
            }
        }
    }

    #view_product_background {
        width: 100%;
        height: 100vh;
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0.1;
    }
}

.products-section {
    .products-container {
        background: $main-bg-color;
        width: 100%;
        height: 22em;
        border-radius: 5px;
        margin: 0.5em 0;
        padding: 1em;
        position: relative;

        &:hover {
            .arrow {
                opacity: 1;
            }
        }

        .section-title {
            font-size: 2.5em;
            @include gradientText;
            background-image: $main-grdt-bg-c;
            text-transform: capitalize;
            display: inline-block;
        }

        .arrow {
            width: 3em;
            height: 3em;
            position: absolute;
            top: calc((26.5em - 3em) /2);
            opacity: 0;
            z-index: 1;

            &:hover {
                .arrow-background {
                    opacity: 1;
                    box-shadow: 0 0 0 12px #555;
                }
            }

            .arrow-background {
                width: 1.2em;
                height: 1.2em;
                border-radius: 50%;
                position: absolute;
                top: calc( (3em - 1.2em) / 2);
                left: calc( (3em - 1.2em) / 2);
                background-image: $main-grdt-bg-c;
                opacity: 0;
                z-index: -1;
                box-shadow: 0 0 20px 8px #333;
            }

            svg {
                fill: #ccc;
                color: #ccc;
                z-index: 1;
            }
        }

        .left-product-click {
            left: 2em;
        }
        .right-product-click {
            right: 2em;
        }

        .products {
            width: auto;
            height: 15.5em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            scroll-snap-type: x mandatory;
            margin-top: 1em;

            .product {
                height: 100%;
                width: 12em;
                margin: 0 0.5em;
                flex: none;
                scroll-snap-align: start;
                position: relative;
                cursor: pointer;

                .product-image {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    z-index: 0;
                }

                .product-name-shadow {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 25%;
                    background-image: linear-gradient(45deg, #ffd3b5, #fbc8c8, #F3E1FE);
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    box-shadow: 0 0 20px #ccc;
                }

                .product-price {
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    .product-current-price {
                        left: 0;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        top: 10em;
                    }

                    .product-old-price {
                        text-decoration: line-through;
                        filter: grayscale(1);
                    }

                    .product-new-price {
                        right: 0;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        top: 10em;
                        display: none;
                    }

                    .discount {
                        right: 0;
                        top: 2em;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        display: none;
                    }
                    
                    .price {
                        width: auto;
                        min-width: 2em;
                        height: 1.2em;
                        position: absolute;
                        background-image: $main-grdt-bg-c;
                        @include flex;
                        padding: 0 0.2em;
                        color: #fff;
                        font-size: 1em;
                        line-height: 1.2em;
                    }
                }

                .product-name {
                    color: #fff;
                    position: relative;
                    text-align: center;
                    font-size: 1em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    position: relative;
                    top: calc(100% - 2em);
                    padding: 0 0.5em;   
                }
            }
        }
    }
}