.rtl-header {
    direction: rtl;
    text-align: right;
        .sup-bar {
            .lang {
                float: right;
                margin: unset;
                margin-right: 1em;

                #arabic {
                    span {
                        margin: unset;
                        margin-right: 0.5em;
                    }
                }

                #english {
                    span {
                        margin: unset;
                        margin-right: 0.5em;
                    }
                }
            }
            #currencies {
                float: left;
                right: unset;
                left: 1em;
            }
        }
        .header-container {
            .search {
                #search_lens {
                    right: unset;
                    left: 1em;
    
                    .hand-lens {
                        transform: rotateZ(0deg) translate(-0.2em, -0.9em);
                    }
                }
                .result-container {
                    #result_of_search{
                        span {
                            left: unset;
                            right: 1em;
                        }
                    }
                }
            }
        }
        #categories {
            #category_container {
                .category-item-name {
                    margin: unset;
                    margin-right: 2em;
                }
                .category-item-background {
                    left: unset;
                    right: 0;
                }
                .subcategory-container {
                    left: unset;
                    right: 10em;
                    .subcategory-item {
                        .subcategory-item-name {
                            margin: unset;
                            margin-right: 2em;
                        }
                        .subcategory-item-background {
                            left: unset;
                            right: 0;
                        }
                    }
                }
            }
        }
}