@keyframes close-button-spin {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(1000deg);
    }
}

@keyframes pulse {
    50% {
        transform: scale(1.05);
    }
}

@keyframes blur-lens {
    0% {
        filter: blur(0.4px);
    }
    25% {
        filter: blur(0px);
    }
    50% {
        filter: blur(0.4px);
    }
}

@keyframes subcategory-container {
    0%{
        display: none;
        opacity: 0;
    }
    1%{
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
        background-color: red;
    }
}