@keyframes close-button-spin {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(1000deg);
    }
}

@keyframes pulse {
    50% {
        transform: scale(1.1);
    }
}